<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-body">
        <p id="notice"><%= notice %></p>
        <p>
          <strong>Name:</strong>
          <%= @group.name %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @group.description %>
        </p>
      </div>
      <div class="box-footer text-right">
        <%= link_to 'Edit', edit_group_path(@group), :class => "btn btn-warning btn-flat form-group" %> <%= link_to 'Back', groups_path, :class => "btn btn-default btn-flat form-group" %>
      </div>
    </div>
  </div>
</div>


